body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    text-align: left;
    font-size: 25px;
}

div > p {
    display: none;
}
div:hover > p{
    display: block;

}

div:hover{
    color: rgb(113, 113, 113);
}