@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(197, 194, 194);

}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3.5em;
}
header > p{
    padding-bottom: 50px;
    font-size: 1.2em;
}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
}
section.img{
    color: white;
    background-color: rgb(35, 35, 35);

}
section.img > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.785);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}