@charset "UTF-8"
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,  #78e0fabb ,#C4F0FB );
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 10px 15px #3b6e7ac8;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{ text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #3B6E7A;
    
}
h2{color: #5FB2C7;

}
p{
    text-align: justify;
}