@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    background-color: pink;
}

h2{
    text-align: center;
    background-color: black;
   color: wheat;
}

#img{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
}