@charset "UTF-8";
body {
    background-color: rgb(242, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(18, 17, 17);
    background-color: rgb(240, 240, 244);
}
h2 {
    color: rgb(111, 111, 111);
}
p {
    text-align: justify;
}
